<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Zone | Admin</title>
	<link rel="stylesheet" href="/static/files/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="/static/files/script.js">

	</script>
</head>

<body>

	<div class="container">

		<!--────────────────Header───────────────-->
		<header>
			<nav>
				<ul class="nav-bar">
					<div class="bg"></div>
					<li><a class="nav-link " href="https://www.thezone.repl.co/">Home</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/#resume">Resume</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/#contact">Contact</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/apis">APIS</a></li>
          <li><a class="nav-link" href="https://www.thezone.repl.co/blog">Blog</a></li>
          <li><a class="nav-link" href="https://www.thezone.repl.co/login/profile">Login</a></li>
          
				</ul>
				<div class="hamburger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<main>
			<!--─────────────────Home────────────────-->
			<br>
    <br>
    
    <div id='home'>
      <h1>Logged in as {{g.user.username}}</h1>
    <div id='admin'>
    <a href='https://statuspage.freshping.io/59267-TheZone'><button>Status</button></a>
    <a href='https://replit.com/@TheZone/www#templates/admin.html'><button>Server</button></a>
    <a href='https://betteruptime.com/team/29429/monitors/540133'><button>Uptime</button></a>
    </div>
    </div>
    

    

    

    
		
	 
	  
  
  </body>
</html>