<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Zone | Blog</title>
	<link rel="stylesheet" href="/static/files/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="/static/files/script.js">

	</script>
</head>

<body>

	<div class="container">

		<!--────────────────Header───────────────-->
		<header>
				<nav>
					<ul class="nav-bar">
						<div class="bg"></div>
						<li><a class="nav-link" href="https://www.thezone.repl.co/">Home</a></li>
						<li><a class="nav-link" href="https://www.thezone.repl.co/#resume">Resume</a></li>
						<li><a class="nav-link" href="https://www.thezone.repl.co/#contact">Contact</a></li>
						<li><a class="nav-link" href="https://www.thezone.repl.co/apis">APIS</a></li>
						<li><a class="nav-link active" href="https://www.thezone.repl.co/blog">Blog</a></li>
						<li><a class="nav-link" href="https://www.thezone.repl.co/login/profile">Login</a></li>
            <right><white>Logged in as {{g.user.username}}</white></right>
            
            
					</ul>
					<div class="hamburger">
						<div class="line1"></div>
						<div class="line2"></div>
						<div class="line3"></div>					</div>
				</nav>
			</center>
		</header>
		<main>
			<!--─────────────────Main Area────────────────-->
			<br>
	  <div id="home">
      <br>
		 <div class="filter"></div>
		 <section class="intro">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


      
<body>
    <div class='box'>

      <center><h1>Welcome</h1></center>
      <right><date>date: 1-7-22</date></right>
    
      <blogbox>
        <p>   Hello everyone, this is the first blog im ever writing.
           I am goin to make this website very big. It would make me
           very happy if everyone joined the discord and hellped me 
           move forward in my journey.</p>
      </blogbox>
    </div>
<br>
    <div class='box'>

      <center><h1>BRU Moment</h1></center>
      <right><date>date: 1-9-22</date></right>
    
      <blogbox>
        <p>   Today I did a thing, i've swiched from codeing in replit
          to code in my VSCODE enviorment, and it make codeing WAYYYYYY
          faster in my opinion, because replit doesent have tabnine.
          well thats all for today but I will keep up with you guys while
          I work on my website and learn how to code better.
        </p>
      </blogbox>
    </div>
<br>
  <div class='box'>

      <center><h1>Sytro</h1></center>
      <right><date>date: 1-13-22</date></right>
    
      <blogbox>
        <p>   So Everyone welcome back to my journy, ive finished alpha 0.0.5 on Sytro make sure to check it out at htpps://www.hithub.com/OusmBlueNinja/Sytro
        new version (entire new game idea) comeing out soon</p>
      </blogbox>
    </div>
<br>
    
  




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>