<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Zone | 500</title>
	<link rel="stylesheet" href="/static/files/style404.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="/static/files/script.js">

	</script>
</head>

<body>
	<div id="home">
		<div class="filter"></div>
		<section class="intro">
			<center>
				<h3>Error 500</hr>
				</h3>
			</center>
			<center>
				<h2>You Do Not Have Acces To {{ val }}</h2>
			</center>
			<center><a href="http://www.thezone.repl.co/">
					<button>Return Home</button>
</a></center>
		  
			  
	  
			 
		  
			 
		 </section> 
	  </div> 

  </body>