<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>The Zone | Home</title>
	<link rel="stylesheet" href="/static/files/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Repl.it_logo.svg/220px-Repl.it_logo.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
	<script src="/static/files/script.js">
	</script>
</head>

<body>

	<div class="container">

		<!--────────────────Header───────────────-->
		<header>
			<nav>
				<ul class="nav-bar">
					<div class="bg"></div>
					<li><a class="nav-link" href="https://www.thezone.repl.co/home">Home</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/home#resume">Resume</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/home#contact">Contact</a></li>
					<li><a class="nav-link" href="https://www.thezone.repl.co/apis">APIS</a></li>
          <li><a class="nav-link" href="https://www.thezone.repl.co/blog">Blog</a></li>
          <li><a class="nav-link" href="https://www.thezone.repl.co/login/profile">Login</a></li>
				</ul>
				<div class="hamburger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<main>
			<div id="contact2">
				<section class="intro">
					<h3>Contact Me To Order
						<hr>
					</h3>
					<p>Contact me in any of these ways</p>
					<br>
      <br>
      <center>
  <a href='https://www.thezone.repl.co/api/0002.json/1234'><button>Test API</button></a>
  </section> 
</center>
      <div class="social-media">
      <a href="https://www.github.com/ousmblueninja" target="_blank"><i class='fab fa-github'></i></a>
			<a href="https://www.twitter.com/ousmblueninja" target="_blank"><i class='fab fa-twitter'></i></a>
      <a href="https://discord.gg/dafqsUaVRx" target="_blank"><i class='fab fa-discord'></i></a>
      <a href="https://stackoverflow.com/users/15533879/ousmblueninja" target="_blank"><i class='fab fa-stack-overflow'></i></a>
      <a href="https://www.facebook.com/people/Spencer-Conlon/100009213348191/" target="_blank"><i class='fab fa-facebook-messenger'></i></a>
      </div>

			 
			
        
    </div> 
		


	 
	  
  
  </body>
</html>